<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @all.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @all.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @all.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @all.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @all.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @all.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @all.seven %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @all.listing %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @all.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @all.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @all.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @all.twelve %>
</p>

<p>
  <strong>Thirteen:</strong>
  <%= @all.thirteen %>
</p>

<p>
  <strong>Fourteen:</strong>
  <%= @all.fourteen %>
</p>

<p>
  <strong>Fifteen:</strong>
  <%= @all.fifteen %>
</p>

<p>
  <strong>Sixteen:</strong>
  <%= @all.sixteen %>
</p>

<p>
  <strong>Seventeen:</strong>
  <%= @all.seventeen %>
</p>

<p>
  <strong>Eighteen:</strong>
  <%= @all.eighteen %>
</p>

<p>
  <strong>Nineteen:</strong>
  <%= @all.nineteen %>
</p>

<%= link_to 'Edit', edit_all_path(@all) %> |
<%= link_to 'Back', alls_path %>
